---
import MainLayout from "../layouts/MainLayout.astro";
import MainHead from "../layouts/MainHead.astro";


const fields = [ 
	//{ label: "Nom d'utilisateur", name: 'username', type: 'text' },
	//{ label: "Prénom", name: 'firstname', type: 'text' },
	//{ label: "Nom", name: 'name', type: 'text' },
	{ label: "Email", name: 'email', type: 'email' },
	{ label: "Mot de passe", name: 'password', type: 'password', min: 8 }];
	//{ label: 'Confirmer mot de passe', name: 'repassword', type: 'password', min: 8}];

const action="api/auth/register";
const nature="Se connecter";
const lien="signin";


---

<html lang="en">
	<MainHead title="S'inscrire"/>
	<body>	
		<MainLayout>
			<form action={action} method="post"> {fields.map((field: any) =>
    <div>
        <label for={field.name}>{field.label}</label>
        <input type={field.type} placeholder={field.label} id={field.name} name={field.name} required minlength={field.min}/>
    </div> )}
    <div class="divbouton">
        <a href={"/" + lien}>{nature}</a>
        <button type="submit">Envoyer</button>
    </div>
</form>
		</MainLayout>
	</body>
</html>

<link rel="stylesheet" href="../styles/global.css">

<style>
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    form a {
        text-decoration: none;
        font-weight: 500;
        color: white;
        align-items: center;
        display: flex;
        padding-right: 8px;
        font-size: .8rem;
    }

    form a:hover {
        color: #6C53CD;
    }

    form div {
        padding-bottom: 15px;
        display: flex;
        align-items: ;
    }


    .success {
        color: green;
    }

    .error {
        color: red;
    }


    input {
        border-radius: 23px;
        outline: none;
        border: none;
        width: 100%;
        height: 30px;
        transition: border-radius .3s ease-in;

    }

    button {
        border-radius: 23px;
        outline: none;
        border: none;
        width: 80px;
        height: 30px;
        justify-content: center;
        display: flex;
        align-items: center;
        color: #6C53CD;
        font-weight: 500;
    }

    button {
        transition: all .2s ease;
        background-color: rgb(255, 255, 255);
    }

    button:hover {
        background-color: #6C53CD;
        color: white;
    }

    label {
        display: none;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        padding-left: 15px;
        color: #6C53CD
    }

    input:focus::placeholder {
        opacity: 0;
    }


</style>

<script>
    const inputs = document.querySelectorAll("inputs");
    const labels = document.querySelectorAll("label");

    inputs.forEach(input => {
    input.addEventListener('click', () => {
        labels.forEach(label => {
        label.classList.add("active")})})})
    
</script>